            <!--Title-->
            <div class="panel-header">
                <div class="header text-left">
                    <h1 class="title" style="padding-top:16px;">Descarga de Navio a Granel</h1>
                </div>
            </div>
            <div class="content" ng-controller="descargaAGranelController">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="justify-content-center row">
                                        <div class="form-group col-sm-4">
                                            <label class="col-form-label">Inicio</label>
                                            <input type="text" class="form-control" placeholder="Nome...">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="col-form-label">Fim</label>
                                            <input type="text" class="form-control" placeholder="Departamento...">
                                        </div>
                                        <div class="form-group col-sm-4">
                                                <label class="col-form-label">Navio</label>
                                                <input type="text" class="form-control" placeholder="Cargo...">
                                            </div>
                                    </div>
                                    <div class="justify-content-center row">
                                            <div class="form-group col-sm-4">
                                                <label class="col-form-label">Total Navio</label>
                                                <input type="text" class="form-control" placeholder="Cargo...">
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-form-label">Quantidade (kg)</label>
                                                <input type="text" class="form-control" placeholder="ID...">
                                            </div>
                                            <div class="form-group col-sm-4">
                                                    <label class="col-form-label">Produto</label>
                                                    <input type="password" class="form-control" placeholder="Senha...">
                                                </div>
                                        </div>
                                        <div class="justify-content-center row">
                                                <div class="form-group col-sm-12">
                                                    <label class="col-form-label">Declaração de Importação</label>
                                                    <input type="text" class="form-control" placeholder="ID...">
                                                </div>
                                            </div>
                                    <div class="justify-content-center row">
                                    <button class="justify-content-center btn btn-success">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="ChartsGranel" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                            </div>
                            <!-- end content-->
                        </div>
                        <!--  end card  -->
                    </div>
                    <!-- end col-md-12 -->
                </div>
                <!-- end row -->
            </div>