<!--Title-->
<div class="panel-header">
    <div class="header text-left">
        <h1 class="title" style="padding-top:16px;">Monitoramento de Descarga</h1>
    </div>
</div>
<div class="content">
    <div class="card-body">

        <!--Cabeçalho Norte-->
        <div class="row card-body">
            <label class="col-form-label">Berço Norte - Escala RF</label>
            <div class="col-sm-4">
                <div class="form-group" id="inputnorte">
                </div>
            </div>
            <div id="botaonorte"></div>
            <div id="datepickernorte"></div>
        </div>
        
        <div class="row" id='cardsnorte'>
            <div id="totalNavionorte" class="col-md-4"></div>
            <div id='produtosnorte' class="col-md-8"></div>
        </div>

        <div class="row" id="tabelanorte"></div>

        <!--Cabeçalho Sul-->
        <div class="row card-body">
            <label class="col-form-label">Berço Sul - Escala RF</label>
            <div class="col-sm-4">
                <div class="form-group" id="inputsul"></div>
            </div>
            <div id="botaosul"></div>
            <div id="datepickersul"></div>
        </div>
            
        <!-- SUL -->
        <div class="row" id='cardssul'>
            <div id="totalNaviosul" class="col-md-4"></div>
            <div id='produtossul' class="col-md-8"></div>
        </div>

        <div class="row" id="tabelasul"></div>