            <!--Title-->
            <div class="panel-header">
                <div class="header text-left">
                    <h1 class="title" style="padding-top:16px;">Consulta RF</h1>
                </div>
            </div>
            <div class="content" ng-controller="consultaRFController">
                <div class="row">
                    <div class="col-md-12">
                            <div class="card card-body" id="div_tabela">
                                    <!-- <table id="tblLiberar" class="table  table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Plano de Descarga</th>
                                                    <th class="text-center">Opções</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">Plano de Descarga</th>
                                                    <th class="text-center">Opções</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">'+data[i].observacao+'</textarea></td>
                                                    <td class="td-actions text-center">
                                                        <button type="button" rel="tooltip" class="btn btn-simple btn-round btn-success" data-original-title="" title="">
                                                            Liberar Descarga
                                                        </button>
                                                          </td>
                                                </tr>            
                                            </tbody>
                                        </table> -->
                            </div>
                        <!--  end card  -->
                    </div>
                    <!-- end col-md-12 -->
                </div>
                <!-- end row -->
            </div>